.header {
  background-color: #afeeee;
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  background-clip: padding-box;
  text-align: center;
}

.popup {
  margin: 5px auto;
  padding: 20px;
  padding-top: 0px;
  width: 440px;
  height: 300px;
  position: relative;
}

.popup h3 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close:hover {
  color: #06D85F;
}

.under_line {
    margin: 0px 0px 20px 0px;
    height: 40px;
    border-bottom: 1px solid black;
}

.memo {
    margin: 10px 0px;
    width: 400px;
    height: 90px;
    resize: vertical;
}
