
.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  /* border: 2px solid #fff;
  border-radius: 20px/50px; */
  background-clip: padding-box;
  text-align: center;
}

.popup {
  margin: 5px auto;
  padding: 20px;
  /* border: 1px solid;
  background: #fff;
  border-radius: 5px; */
  width: 440px;
  height: 300px;
  position: relative;
}

.popup h3 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 0px;
  right: 10px;
  transition: all 200ms;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  /*overflow: auto;*/
}

.under_line {
    margin: 0px 0px 20px 0px;
    height: 40px;
    border-bottom: 1px solid black;
}

.memo {
    margin: 10px 0px;
    width: 400px;
    height: 90px;
    resize: vertical;
}

#site_name {
    width: 90px;
    position: relative;
}

#input_site {
    position: relative;
    left: 100px;
    bottom: 17px;
    white-space:nowrap;
    overflow:hidden;
}

#url_name {
    margin: 0px;
    width: 90px;
    /* position: relative; */
}

#input_url {
    position: relative;
    left: 100px;
    bottom: 17px;
    witdh: 300px;
}

#search_name {
    width: 100px;
    position: relative;
}

#input_search {
    position: relative;
    left: 100px;
    bottom: 17px;
}

/* #Bt_Regi {
    position: relative;
    left: 100px;
    bottom: 0px; */

    /* display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: dashed 1px #67c5ff;
    background: #f2fcff;
    border-radius: 3px;
    transition: .4s; */
/* } */

/* #Bt_Regi:hover {
  background: #cbedff;
  color: #FFF;
} */

/* #Bt_Cancel {
    position: relative;
    left: 250px;
} */
