.site_info{
  padding: 5px;
}

ul {
  list-style: none;
}

.hidden {
  display: none
}

p {
  margin-bottom: 0;
}

img.glass {
  margin-top: 6px;
  margin-right: 4px;
  float: left;
  width: 12px;
  height: 12px;
}

.choice{
  border-left: solid 6px #1fa67a;/*左側の線*/
  /*border-bottom: solid 2px #dadada;/*下に灰色線*/
  background: whitesmoke;
  margin-bottom: 4px;/*下のバーとの余白*/
  line-height: 1.5;
}
