.site_info{
  padding: 5px;
}

ul {
  list-style: none;
}

.hidden {
  display: none
}

input[type="search"] {
  -webkit-appearance: searchfield;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}