.site_info{
  padding: 5px;
}

ul {
  list-style: none;
}

.hidden {
  display: none;
}

p {
  margin-bottom: 0;
  font-size: 12px;
}

img.glass {
  margin-top: 6px;
  margin-right: 4px;
  float: left;
  width: 12px;
  height: 12px;
}

.choice{
  outline: solid 1px white;
  padding-bottom: 4px;
  border-left: solid 6px #1fa67a;/*�����̐�*/
  /*border-bottom: solid 2px #dadada;/*���ɊD�F��*/
  background: whitesmoke;
  line-height: 1.5;
}

.copy-btn{
    z-index: 999;
}

.favicon-image-box{
    margin: 5px 0px 0px 0px;
    float: left;
    width: 10px;
    height: 10px;
}
